html,
body {
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    margin: auto;
    height: 40px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #346597;
    color: white;
}

#selection {
    width: 25%;
    height: 100%;
    background-color: #346597;
    text-align: center;
    font-family: monospace;
}

p {
    width: 90%;
    /*font-size: 1.2em;*/
    margin: auto;
}

#map {
    width: 70%;
    height: 100%;
    margin: auto;
    border: 1px solid black;
}

#conteneur {
    width: 96%;
    height: 700px;
    margin: auto;
    display: flex;
}

h1 {
    text-align: center;
    margin: auto;
    background-color: #346597;
    font-style: italic;
    height: 70px;
    padding-top: 5px;
    color: white;
}

ul {
    text-align: center;
    /*font-size: 1.2em;*/
    list-style-type: none;
    letter-spacing: 2px;
    border: 1px solid grey;
    width: 100%;
    margin: auto;
    color: #346597;
}

h2 {
    text-align: center;
    letter-spacing: 2px;
    color: #346597;
}

.list-group-item {
    text-transform: uppercase;
    background-color: #346597;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.4em;
    letter-spacing: 3px;
    border: 1px solid white;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.active,
.list-group-item:hover {
    opacity: 0.8;
}

.content {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
    padding: 30px;
}

.comStyle{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #346597;
    color: white;
    text-transform: uppercase;
    
}

.active,
.comStyle:hover {
    opacity: 0.8;
}

.writeComment{
    width: 100%;
    margin: auto;
    text-align: center;
    /*font-size: 1.1em;*/
    background-color: #346597;
    color: white;
    text-transform: uppercase;
    
}

input{
    width: 80%;
}

#formCommentaire{
    width: 150px;
}


/*  RESPONSIVE AVEC LES MEDIAS QUERIES  */
@media (max-width: 900px) {
    #conteneur {
        width: 100%;
        margin: auto;
        display: flex;
    }

    #map {
        width: 65%;
        height: 100%;
        margin: auto;
    }

    #selection {
        width: 30%;
        margin: auto;
        background-color: #346597;
        text-align: center;
        font-family: monospace;
    }

    .list-group-item {
        text-align: left;
        letter-spacing: 3px;
        border: 1px solid white;
        font-size: 1.1em;
    }
}

@media (max-width: 750px) {
    #conteneur {
        width: 100%;
        margin: auto;
        display: block;
    }

    #map {
        width: 90%;
        height: 100%;
        margin: auto;
    }

    #selection {
        width: 90%;
        margin: auto;
        background-color: #346597;
        text-align: center;
        font-family: monospace;
    }

    .list-group-item {
        text-align: center;
        letter-spacing: 3px;
        border: 1px solid white;
        font-size: 1.3em;
    }
}